.img1{
    background-image: url('./spiral_images/Frame\ 15229-min.png');
}
.img2{
    background-image: url('./spiral_images/Frame\ 15229-min.png');
}
.img3{
    background-image: url('./spiral_images/Frame\ 15229-min.png');
}
.img4{
    background-image: url('./spiral_images/Frame\ 15229-min.png');
}
.img5{
    background-image: url('./spiral_images/Frame\ 15229-min.png');
}
.img6{
    background-image: url('./spiral_images/Frame\ 15229-min.png');
}
.img7{
    background-image: url('./spiral_images/Frame\ 15229-min.png');
}