*{
    margin: 0;
    padding: 0;
}

.body{
    height: 89.11vw;
    width: 100vw;
    background-image: url('./body_images/Infinite\ Tiles.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    display: flex;
    flex-direction: column;
}

.body::before{
    content: "";
    position: absolute;
    height: 89.11vw;
    width: 100vw;
    background: url('./body_images/Texture\ Pattern\ \(to\ be\ used\ as\ Color\ Burn\).jpg');
    mix-blend-mode: color-burn;
}

.search-box{
    height: 15.21vw;
    width: 100vw;
    border: 2px solid red;
}

.title{
    height: 4.78vw;
    width: 100vw;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.title h2{
    font-size: 3.93vw;
    color: var(--color2);
}

.item-box{
    height: 69.12vw;
    width: 100vw;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-box::before{
    content: '';
    height: 69.12vw;
    width: 100vw;
    background-image: url('./body_images/Stairs.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 46.2vw  13.8vw;
    z-index: -5;
    mix-blend-mode: normal;
    position: absolute;
    animation-name: stairs;
    animation-duration: 5s;
    animation-iteration-count: 2;
}

@keyframes stairs{
    0%{
    background-position: 46.2vw 13.8vw;
    }

    100%{
    background-position: 59.3vw 0.7vw;
    }
}

.item-container{
    height: 63.96vw;
    width: 86.12vw;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.item{
    border: 2px solid red;
    margin: 1vw 4vw;
}